<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="jquery-2.2.4.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./">YMKLogue</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				{% if user %}
					<li><a href="logout">Logout</a></li>
				{% else %}
					<li><a href="login">Login</a></li>
				{% endif %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
	<div class="container-fluid">
		{{ errors }}
		{{ err }}
		{% block body %}

		{% endblock %}
	</div>
</body>
</html>
